{% extends "base.html" %}
    {% block title %}Byld Hacknight Demo{% endblock %}
    {% block container %}
        {% if posts %}
            <h2>{{viewing}}'s posts</h2>
            <hr>
            {% for post in posts %}
                <div class="alert alert-success">
                    {{post.content}} <span class="label label-info">liked by {{post.likes}} people</span> - <a href="/post/like/{{post.key().id()}}"><b>like</b></a> - <a href="/post/{{post.key().id()}}"><b>permalink</b></a>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}

